 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Dancing+Script:wght@400;700&family=Dongle:wght@300;400&family=Lobster+Two:ital@1&display=swap');

body {
    /*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Dancing+Script:wght@400;700&family=Dongle:wght@300;400&family=Lobster+Two:ital@1&display=swap');*/
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
  }
  form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }
   form h1{
    font-size: 20px;
   }
   .trait{
    width: 100%;
    height: 1px;
    background-color: rgb(164, 87, 236);
   }
   form .formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
   }
   form .formulaire .bloc{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
   }
  
   form .formulaire .une .bloc{
    margin-top: 5px;
    padding:10px 5px 10px 30px ;
    border:1px solid #c9c9c9 ;
    outline-color: rgb(164, 87, 236);
    border-radius: 5px;
   }
  
   form .formulaire .deux{
    margin-left: 40px;
   }
  
   form .formulaire .deux .bloc{
    height: 100px;
   }
  
   form .formulaire  .deux .bloc textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid rgb(164, 87, 236);
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
   }
   form .pied-formulaire button{
    margin-top: 10px;
    background-color: rgb(164, 87, 236);
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
   }
   form .pied-formulaire button:hover{
    transform: scale(1.05);
   }

   @media screen and (max-width:928px){
    form .formulaire .deux{
      margin-left: 0px;
    }
   }
   
  
  
  
    
  
  
  